body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.home-bg {
  background-image: url(../src//assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Set opacity */
  opacity: 1; /* Adjust opacity value as needed (0.0 to 1.0) */
  background-blend-mode: multiply;
}

.home-main {
  height: 1082px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../src//assets/images/bg-wave.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(201, 229, 253, 1);

}

.cardBg {
  top: 0%;
  height: 955px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../src//assets/images/homeImage2.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  /* background-color: rgba(201, 229, 253, 1); */

}

.navbar {
  height: 74px;
  width: 1220px;
  margin-top: 33px;
}

.imageCan {
  height: 38%;
}

.cardImageOne {
  background-image: url(../src//assets/images/cardImageOne.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(201, 229, 253, 1);
}

.cardImageTwo {
  background-image: url(../src//assets/images/cardImageTwo.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(201, 229, 253, 1);
}

.cardImageThree {
  background-image: url(../src//assets/images/cardImageThree.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(201, 229, 253, 1);
}
.chat-home-bg {
  background-image: url(../src//assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Set opacity */
  opacity: 1;
  /* Adjust opacity value as needed (0.0 to 1.0) */
  background-blend-mode: luminosity;
}

.dashboard-bg {
  background-image: url(../src//assets/images/lust.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.topBar-bg {
  background-image: url(../src//assets/images/wave2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.profile-bg{
  background-image: url(../src//assets/images/pink-heart-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.absolute-icon {
  position: absolute;
  right: -4px;
  bottom: 3px;
  background: red;
  padding: 0;
  margin: 0;
}

.chat-height {
  height: 82vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

